[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kivy = "*"
kivymd = "*"
"kivy-garden.contextmenu" = "*"
events = "*"
dataclasses-json = "*"
hjson = "*"
antlr4-python3-runtime = "*"
python-stopwatch2 = "*"
regex = "*"
deprecation = "*"

[dev-packages]

[requires]
python_version = "3.10"
